.about-storage-monkey{
	border-bottom: 1px solid #DFDFDF;
	border-top: 1px solid #DFDFDF;
	padding: 100px 0px;

	&__inner{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		.image{
			width: 49%;
			text-align: center;

			@media(max-width: 991px){
				display: none;
			}

			img{
				display: inline-block;
				max-width: 100%;
			}
		}

		.content{
			width: 49%;
			display: flex;
			flex-direction: column;
			justify-content: center;

			@media(max-width: 991px){
				width: 100%;
			}

			h3{
				font-size: 35px;
				color: $primary;
				margin-bottom: 30px;
				font-weight: $reg;
			}

			p{
				font-weight: $reg;
				font-size: 16px;
				color: $gray;
				letter-spacing: 0;
				line-height: 26px;
			}

		}
	}

}