.all-locations{
	padding-top: 60px;
	padding-bottom: 60px;
	
	h1{
		font-weight: $med;
		margin-bottom: 50px;
		font-size: 45px;
		color: $primary;;
		letter-spacing: 0;
		line-height: 68px;
		text-shadow: 3px 3px 0 rgba(0,0,0,0.07);
	}

	h2{
		font-weight: $reg;
		font-size: 19px;
		color: $gray;
		text-align: center;
		line-height: 40px;
		margin-bottom: 60px;
	}

	&__inner{
		display: grid;
		grid-gap: 10px;
		grid-template-columns: repeat(5, 1fr);

	      @media(max-width: 991px){
	      	grid-template-columns: repeat(3, 1fr);
	      }

	       @media(max-width: 767px){
	      	display: flex;
	      	flex-wrap: wrap;
	      	justify-content: space-between;
	      }
		

		&--item{
			margin-bottom: 30px;

			@media(max-width: 767px){
	      		width: 48%;
	      	}

	      	&:nth-of-type(3){
				
				@media(max-width: 767px){
			      	margin-top: -230px;
		      	}
			      
			}
			
			&:nth-of-type(4){

			   	@media(max-width: 991px){
			      	margin-top: -250px;
		      	}
				
				@media(max-width: 767px){
			      	margin-top: 0px;
			      }
			      
			}

			&:nth-of-type(5){

			   	@media(max-width: 991px){
			      	margin-top: -30px;
			      }

			      @media(max-width: 767px){
			      	margin-top: -170px;
			      }

			      
			}

			&:nth-of-type(6){
				grid-column: 3 / 3;
			   	margin-top: -340px;

			   	@media(max-width: 991px){
			      	grid-column: auto;
			      	margin-top: -340px;
			      }

			      @media(max-width: 767px){
			      	margin-top: 0px;
			      }

			     
			}

			&:nth-of-type(7){
				grid-column: 4 / 5;
				margin-top: -390px;

				@media(max-width: 991px){
			      	grid-column: auto;
			      	margin-top: -560px;
			      }

			      @media(max-width: 767px){
		      	    	margin-top: -250px;
					margin-left: 0;
			      }

			    
			}

			h3{
				font-size: 19px;
				margin-bottom: 20px;
				font-weight: $reg;
				color: $primary;
			}

			ul{
				list-style-type: none;
				padding: 0;

				li{
					a{
						color: $gray;
						transition: all 0.2s ease-in-out;

						&:hover{
							color: $primary;
							text-decoration: none;
						}
					}
				}
			}

		}

	}

}