.banner-space{
	padding-top: 70px;
	padding-bottom: 70px;
	border-bottom: 1px solid #DFDFDF;

	&__blog{
		padding-top: 0px;
		padding-bottom: 0px;
		border-bottom: 0px solid #DFDFDF;
	}

	&__inner{

		img{
			width: 100%;
			height: auto;
		}

		.desktop-image{			
			@media(max-width: 767px){
				display: none;
			}
		}

		.mobile-image{
			@media(min-width: 767px){
				display: none;
			}
		}



	}

}