.blog-card--v2 {
	position: relative;
	width: 100%;
	border: 1px solid $lightgray;

	.image {
		background-repeat: no-repeat;
		background-position: top center;
		background-size: cover;
		background-color: $gray;
		padding: 5px 10px;
		height: 180px;

		@include media-breakpoint-down(sm) {
			height: 250px;
		}
	}

	.body {
		padding: 20px;
		background-color: #fff;
	    	min-height: 290px;

		.category{
			background-color: $primary;
			padding: 10px;
			color: #fff;
			text-transform: uppercase;
			font-size: 13px;
			font-weight: $med;
			position: relative;
    			top: -30px;
		}

		h3 {
			font-size: 20px;
			line-height: 1.4;
			margin: 15px 0;
			margin-top: -10px;

			a{
				color: $black;
				letter-spacing: 0;
				font-weight: $reg;

				&:hover {

					text-decoration: none;
				}
			}
		}

		p{
			color: $gray;
			font-size: 16px;
		}

		.date{
			color: $gray;
			margin-top: 40px;
			width: 100%;
			font-size: 14px;
			padding: 20px 0px 0px 0px;
			border-top: 1px solid $lightgray;

			i{
				color: $pink;
				font-size: 16px;
				margin-right: 10px;
			}
		}

		.body {
			display: none;
		}			
	}
}