.button{
	padding: 15px 10px;
	font-size: 16px;
	font-weight: $med;
	transition: all 0.3s ease-in-out;
	display: inline-block;

	&__get-a-quote{
		background-color: $lightgray;
		color: $primary;
		text-transform: uppercase;

		&:hover{
			text-decoration: none;
			background-color: $primary;
			color: #fff;
		}
	}

	&__large{
		padding: 20px 60px;
	}

	&__pink{
		background-color: $primary;
		color: #fff;
		font-weight: $bold;

		&:hover{
			text-decoration: none;
			box-shadow: 0px 0px 30px rgba(0,0,0,0.4);
			color: #fff;
		}
	}

}