.gform_wrapper{

	.gform_body{

		ul{

			li{
				margin-bottom: 30px;
				margin-top: 0px!important;

				&#field_1_6{
					.gfield_label{
						display: none;
					}
				}

				label{
					font-weight: $med;
					font-size: 15px;
					color: $black;
					letter-spacing: 0;
					margin-bottom: 10px;

					.gfield_required{
						color: $black;
					}
				}

				input{
					background: #FFFFFF;
					border: 1px solid $lightgray;
					box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
					border-radius: 3px;
					padding: 10px 20px!important;
					width: 100%!important;

					&::placeholder{
						color: $black;
						opacity: 0.7;
					}

					&[type=checkbox]{
						margin-top: -8px!important;
						margin-right: 4px;
					}
				}

				select{
					background: #FFFFFF;
					border: 1px solid $lightgray;
					box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
					border-radius: 3px;
					padding: 10px 20px!important;
					width: 100%!important;
					appearance: none;
					color: rgba(74,74,74,0.7);
					background-image: url('../images/dropdown-arrow.svg');
					background-repeat: no-repeat;
					background-position: right 20px center;
				}

				textarea{
					background: #FFFFFF;
					border: 1px solid $lightgray;
					box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
					border-radius: 3px;
					padding: 10px 20px!important;

					&::placeholder{
						color: $black;
						opacity: 0.7;
					}
				}

				.gfield_checkbox{
					li{
						margin-bottom: 0px;
						width: 100%!important;
					}
				}

			}

		}

	}

	.gform_footer{
		margin-top: 0px;
		padding-top: 0px;
		
		input[type=submit]{
			@extend .button;
			@extend .button__pink;
			padding: 15px 60px;
			border: 0px;
			border-radius: 4px;
			cursor: pointer;
		}

	}

}