.home-intro{
	background-color: $lightpurple;
	padding-bottom: 150px;
	padding-top: 150px;
	background-repeat: no-repeat;
	background-position: right -50px center;

	@media(max-width: 991px){
		background-position: right -320px center;
		padding-top: 100px;
		padding-bottom: 100px;
	}

	@media(max-width: 767px){
		background-position: right -400px center;
	}

	@media(max-width: 500px){
		background-image: none!important;
	}

	&__inner{

		h1{
			font-weight: $med;
			font-size: 45px;
			color: $primary;
			letter-spacing: 0;
			line-height: 68px;
			text-shadow: 3px 3px 0 rgba(0,0,0,0.07);
			width: 50%;

			@media(min-width: 1400px){
				width: 60%;
			}

			@media(max-width: 991px){
				width: 80%;
			}

			@media(max-width: 767px){
				width: 90%;
			}

			@media(max-width: 500px){
				width: 100%;
			}
		}

		p{
			font-weight: $reg;
			font-size: 19px;
			color: $gray;
			letter-spacing: 0;
			line-height: 40px;
			margin-bottom: 50px;
			width: 50%;

			@media(min-width: 1400px){
				width: 60%;
			}

			@media(max-width: 991px){
				width: 80%;
			}

			@media(max-width: 767px){
				width: 90%;
			}

			@media(max-width: 500px){
				width: 100%;
			}
		}

	}

}