.latest-blog-posts{
	padding-top: 100px;
	padding-bottom: 100px;
	border-bottom: 1px solid #DFDFDF;

	&__background{
		background-color: #F9F9F9;
		border-top: 1px solid #D0D0D0;
	}

	h3{
		font-size: 35px;
		color: $primary;
		font-weight: $reg;
		margin-bottom: 30px;
	}

	p{
		font-weight: $reg;
		font-size: 19px;
		color: $gray;
	}

	&__inner{

		.slick-slide{
			margin: 20px;
		}
		
		.slick-dots{
			list-style-type: none;
			padding: 0;
			text-align: center;
			margin-top: 20px;

			li{
				display: inline-block;
				margin-right: 10px;


				button{
					padding: 0px;
					background-color: transparent;
					border: 0px;
					width: 10px;
					height: 10px;
					text-indent: -9999px;
					background-color: $lightpurple;
					border-radius: 50px;
					cursor: pointer;

					&:focus{
						outline: 0;
					}
				}

				&.slick-active{
					button{
						height: 12px;
						width: 12px;
						background-color: $primary;
					}
				}
			}
		}
		
	}

}