.logo-slider{
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #DFDFDF;

	&__inner{

		.slick-track{
			display: flex;
		}

		.slick-slide{
			display: flex;
			justify-content: center;
			align-items: center;

			img{
				width: 100%;
			}
		}

		.slick-dots{
			list-style-type: none;
			padding: 0;
			text-align: center;
			margin-top: 20px;

			li{
				display: inline-block;
				margin-right: 10px;


				button{
					padding: 0px;
					background-color: transparent;
					border: 0px;
					width: 10px;
					height: 10px;
					text-indent: -9999px;
					background-color: $lightpurple;
					border-radius: 50px;
					cursor: pointer;

					&:focus{
						outline: 0;
					}
				}

				&.slick-active{
					button{
						height: 12px;
						width: 12px;
						background-color: $primary;
					}
				}
			}
		}

	}

}