.page-header{
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: $lightpurple;

	h1{
		font-weight: $med;
		font-size: 45px;
		color: $primary;
		letter-spacing: 0;
		text-shadow: 3px 3px 0 rgba(0,0,0,0.07);
		margin-bottom: 30px;

		@media(max-width: 767px){
			font-size: 30px;
		}
	}

	p{
		font-weight: $reg;
		font-size: 19px;
		color: $gray;
		line-height: 40px;
		width: 70%;

		@media(max-width: 991px){
			width: 100%;
		}
	}

}