.storage-cta{
	padding-top: 40px;
	padding-bottom: 40px;
	text-align: center;

	h2{
		font-weight: $med;
		font-size: 45px;
		color: $primary;
		letter-spacing: 0;
		line-height: 68px;
		text-shadow: 3px 3px 0 rgba(0,0,0,0.07);
		margin-bottom: 30px;
	}

}