.all-locations-page{

	&__inner{
		padding-top: 80px;
		padding-bottom: 80px;

		@media(max-width: 767px){
    			padding: 0;
		}

		&--top{
			display: grid;
			grid-gap: 30px;
			grid-template-columns: 1fr 1fr 1fr 1fr;

			@media(max-width: 991px){
				grid-template-columns: 1fr 1fr;
			}

			@media(max-width: 767px){
				display: none;
			}

			&--item{
				display: inline-block;
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
				width: 100%;
				padding: 150px 20px 20px 20px;
				position: relative;
				overflow: hidden;
				min-width: 0;      /* NEW; needed for Firefox */

				.overlay{
					position: absolute;
					left: 0;
					top: 0;
					right: 0;
					bottom: 0;
					z-index: 1;
					background-image: -webkit-linear-gradient(rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.68) 98%);
					background-image: -o-linear-gradient(rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.68) 98%);
					background-image: linear-gradient(rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.68) 98%);
					transition: all 1s ease-in-out;
				}		

				h3{
					position: relative;
					z-index: 2;
					color: #fff;
					font-size: 24px;
					font-weight: $med;
				}

				&:hover{
					text-decoration: none;

					.overlay{
						transform: scale(1.3);
					}
				}
			}

		}

	}

}