.blog-page{

	&__categories{
		border-bottom: 1px solid #DFDFDF;
		
		&--inner{
			display: flex;
			padding-top: 20px;
			width: 100%;
			overflow-x: scroll;
			white-space: nowrap;
			padding-right: 30px;
			height: 63px;

			ul{
				list-style-type: none;
				padding: 0;
				margin-right: 20px;

				li{
					display: inline-block;
					margin-right: 20px;

					&.current-cat{
						a{
							color: $primary;
							border-bottom: 2px solid $primary;
						}
					}

					a{
						padding-bottom: 20px;
						color: $gray;
						transition: all 0.2s ease-in-out;

						&:hover{
							text-decoration: none;
							color: $primary;
						}

						&.active{
							color: $primary;
							border-bottom: 2px solid $primary;
						}
					}
				}
			}
		}
	}

	&__posts{

		&--inner{
			padding-top: 100px;
			padding-bottom: 100px;
			display: grid;
			grid-gap: 40px;
			grid-template-columns: repeat(3, 1fr);

			@media(max-width: 991px){
				grid-template-columns: 50% 50%;
			}

			@media(max-width: 767px){
				grid-template-columns: 100%;
			}
		}

	}

	.pagination{
		.pagination-wrapper{

			.pagination{
				justify-content: center;

				li{
					display: inline-block;
					margin-right: 20px;
					
					span{
						border: 0px;
						color: #fff;
						background-color: $primary;
						border: 0px;
						transition: all 0.2s ease-in-out;
						padding: 15px;
						border-radius: 50%;
						height: 50px;
						width: 50px;
						text-align: center;

						&:hover{
							color: #fff;
						}
					}

					a{
						border: 0px;
						color: $gray;
						background-color: transparent;
						border: 0px;
						transition: all 0.2s ease-in-out;
						padding: 15px;
						border-radius: 50%;
						height: 50px;
						width: 50px;
						text-align: center;

						&:hover{
							color: $primary;
						}
					}

				}

			}


		}

	}

}