.content-info{
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
	border-top: 1px solid #D4D4D4;

	img{
		display: inline-block;
		margin-bottom: 40px;
	}
	
	.social-links{
		list-style-type: none;
		padding: 0;
		text-align: center;

		li{
			display: inline-block;
			margin-right: 10px;

			&:last-child{
				margin-right: 0px;
			}

			a{
				color: $primary;
				font-size: 25px;
			}
		}
	}

	nav{
		margin-top: 40px;
		
		ul{
			justify-content: center;

			li{
				margin-right: 30px;

				@media(max-width: 767px){
					width: 100%;
					margin-right: 0px;
					margin-bottom: 10px;
				}

				a{
					color: $gray;
					font-size: 16px;
					transititon: all 0.2s ease-in-out;

					&:hover{
						color: $primary;
						text-decoration: none;
					}
				}

				&:last-child{
					margin-right: 0px;
				}
			}
		}

	}

}