.get-a-quote-page{
	
	&__header{
		padding-top: 60px;
		padding-bottom: 30px;
		width: 70%;
		margin: 0 auto;

		@media(max-width: 991px){
			width: 100%;
		}

		h1{
			font-weight: $med;
			font-size: 45px;
			color: $primary;
			letter-spacing: 0;
			text-align: center;
			line-height: 68px;
			text-shadow: 3px 3px 0 rgba(0,0,0,0.07);
			margin-bottom: 30px;
		}

		p{
			font-weight: $reg;
			font-size: 19px;
			color: #8B8D9C;
			letter-spacing: 0;
			text-align: center;
			line-height: 40px;
		}
	}

	&__content{
		padding-top: 30px;
		padding-bottom: 60px;
		width: 70%;
		margin: 0 auto;

		@media(max-width: 991px){
			width: 100%;
		}

		.gform_wrapper{

			.gform_body{
				
				ul{
					display: flex;
					flex-wrap: wrap;
					justify-content: space-between;

					li{

						&#field_2_2{
							.ginput_container{
								text-align: center;
							}
						}

						&#field_2_9{
							.gfield_label{
								display: none;
							}
						}
				
						&:nth-of-type(1),
						&:nth-of-type(2){
							width: 100%;
						}

						&:nth-of-type(3),
						&:nth-of-type(4),
						&:nth-of-type(5),
						&:nth-of-type(6),
						&:nth-of-type(7),
						&:nth-of-type(8){
							width: 49%;

							@media(max-width: 991px){
								width: 100%;
							}
						}
					}
				}

				.noUi-tooltip{
					display: none;
				}

				.noUi-horizontal{
					height: 8px;
					background-color: $lightgray;
					border: 0px;
					box-shadow: none;
				}

				.noUi-handle{
					height: 30px;
					width: 30px;
					background-color: $primary;
					border-radius: 100%;
					box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
					border: 0px;
					top: -13px;

					&:before{
						display: none;
					}

					&:after{
						display: none;
					}

				}

				.slider-image{
					display: inline-block;
					margin-top: 30px;
				}

				.dots{
					margin-top: 20px;
					ul{
						padding: 0;

						li{
							background: #CFD1E1;
							height: 8px;
							width: 8px;
							background-color: $gray;
							border-radius: 50%;
						}
					}
				}

				.slider-text{
					font-weight: $med;
					font-size: 20px;
					color: $black;
					letter-spacing: 0;
					text-align: center;
					width: 100%;
					margin-top: 30px;
				}

			}

		}

	}

}