.banner{
	padding-top: 20px;
	padding-bottom: 20px;
	background: #FFFFFF;
	box-shadow: 0 2px 11px 0 rgba(0,0,0,0.16);

	&__inner{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		.brand{
			margin-top: 10px;

			@media(max-width: 991px){
				margin-top: 0px;
			}
		}

		.menu-toggle{
			padding: 0;
			background-color: transparent;
			border: 0px;
			color: $black;
			cursor: pointer;
			font-size: 20px;

			&:focus{
				outline: 0;
			}

			@media(min-width: 991px){
				display: none;
			}
		}
		
		.nav-primary{
			display: flex;
			align-items: center;

			&__show{
				display: block!important;
			}

			@media(max-width: 991px){
				display: none;
				padding-top: 30px;
				padding-bottom: 0px;

				.nav{
					li{
						margin-right: 0px;
						width: 100%;
						margin-bottom: 15px;

						a{
							display: inline-block;
						}
					}
				}
			}

			.nav{

				li{
					margin-right: 30px;

					&:last-child{
						margin-right: 0px;
						margin-top: 15px;
					}

					a{
						color: $black;
						font-size: 16px;
						transition: all 0.2s ease-in-out;
					   	padding: 15px 0px;
    						display: inline-block;

    						@media(max-width: 991px){
    							padding: 0px;
    						}

						&:hover{
							text-decoration: none;
							color: $primary;
						}
					}

					&:last-child{
						a{
							@extend .button;
							@extend .button__get-a-quote;
							display: inline;
						}
					}

				}

			}	
		}

	}

}