.partner-with-us-page{
	padding-top: 60px;
	padding-bottom: 60px;

	&__inner{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		&--form{
			width: 69%;

			@media(max-width: 991px){
				width: 100%;
			}

			.gform_wrapper{

				.gform_body{
					
					ul{
						display: flex;
						flex-wrap: wrap;
						justify-content: space-between;

						li{
							&:nth-of-type(1),
							&:nth-of-type(2),
							&:nth-of-type(3),
							&:nth-of-type(4){
								width: 49%;

								@media(max-width: 991px){
									width: 100%;
								}
							}

							&:nth-of-type(5),
							&:nth-of-type(6){
								width: 100%;
								margin-bottom: 0px;
							}
						}
					}

				}

			}

		}

		&--sidebar{
			width: 29%;
			background-color: $black;
			align-self: start;
			padding: 30px;
			position: sticky;
			top: 30px;

			@media(max-width: 991px){
				width: 100%;
			}

			h3{
				font-weight: $reg;
				font-size: 22px;
				color: #FFFFFF;
				letter-spacing: 0;
				line-height: 40px;
				margin-bottom: 30px;
			}

			ul{
				list-style-type: none;
				padding: 0;

				li{
					margin-bottom: 30px;

					p{
						text-transform: uppercase;
						opacity: 0.5;
						font-weight: $med;
						font-size: 15px;
						color: #FFFFFF;
						letter-spacing: 0;
						margin-bottom: 5px;
					}

					a{
						font-weight: $reg;
						font-size: 18px;
						color: #FFFFFF;
						letter-spacing: 0;
						transition: all 0.2s ease-in-out;
						word-wrap: break-word;

						&:hover{
							text-decoration: none;
							opacity: 0.5;
						}
					}
				}
			}
		}

	}

}