.single-post{
	
	&__inner{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		padding-top: 60px;
		padding-bottom: 60px;
		position: relative;

		.share-buttons{
			width: 25px;
			position: absolute;
			top: 60px;
			left: -60px;

			a{
				&:hover{
					text-decoration: none;
				}
			}

			img{
				width: 90%;
				height: auto;
				margin-bottom: 10px;
			}

			p{
				font-size: 16px;
				font-weight: $reg;
				color: $black;
				text-align: center;
		   	 	line-height: 12px;
	    			margin-top: 10px;

				span{
					display: block;
					transform: rotate(90deg);
				}
			}

			@media(max-width: 991px){
				width: 100%;
				top: 0px;
				position: relative;
				left: 0;
				margin-bottom: 40px;

				img{
					width: auto;
					display: inline-block;
					margin-right: 5px;
				}

				p{
		    			display: inline-block;
		    			margin-right: 5px;
		    			margin-left: 5px;
		    			letter-spacing: -1px;

					span{
						display: inline-block;
						transform: rotate(0deg);
					}
				}
			}

		}

		.content{
			width: 75%;

			@media(max-width: 991px){
				width: 100%;
			}

			p.categories{
				color: $primary;
				font-size: 16px;
				margin-bottom: 0px;

				span{
					&:last-child{
						display: none;
					}
				}
			}

			h1{
				font-weight: $reg;
				font-size: 36px;
				color: $black;
				letter-spacing: 0;
				line-height: 65px;
			}

			.date{
				font-size: 16px;
				color: #8A95A6;
				line-height: 24px;
				display: block;
			}

			img{
				max-width: 100%;
				border-radius: 10px;
				margin-bottom: 40px;
				margin-top: 40px;
			}

			p{
				font-weight: $reg;
				font-size: 18px;
				color: $gray;
				line-height: 32px;
				margin-bottom: 40px;
			}

			h2{
				font-size: 25px;
				color: $black;
				line-height: 31px;
				margin-bottom: 40px;
				font-weight: $reg;
			}

			h3{
				font-size: 23px;
				color: $black;
				line-height: 31px;
				margin-bottom: 40px;
				font-weight: $reg;
			}

			blockquote{
				padding-left: 30px;
				border-left: 2px solid $primary;
				padding-right: 100px;
				background-image: url('../images/quote-marks.svg');
				background-repeat: no-repeat;
				background-position: top right;

				@media(max-width: 991px){
					padding-right: 0px;
					background-image: none;
				}

				p{
					color: $primary;
					font-weight: $reg;
					font-size: 21px;
					line-height: 41px;

					span{
						font-size: 15px;
						color: $black;
					}
				}
			}

			ul{
				list-style-type: none;
				padding: 0;
				margin-bottom: 30px;
				
				li{
					color: $gray;
					font-size: 18px;
					margin-bottom: 20px;

					&:before{
						content: "• ";
  						color: $primary;
  						margin-right: 20px;
					}
				}
				
			}

		}

		.banner-section{
			width: 23%;
			position: relative;



			.banner-space{
				position: sticky;
				top: 30px;
			}

			a{
				img{
					width: 100%;
					max-width: 100%;
				}
			}

			@media(max-width: 991px){
				width: 100%;

				a{
					img{
						width: auto;
						max-width: auto;
					}
				}
			}
		}

	}

}