.single-location-page{
	border-bottom: 1px solid $lightgray;

	&__header{
		padding-top: 50px;
		padding-bottom: 50px;
		position: relative;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;

		.overlay{
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			top: 0;
			z-index: 1;
			background-color: rgba(0,0,0,0.5);
		}

		span{
			display: block;
			font-size: 36px;
			position: relative;
			z-index: 2;
			color: #fff;
		}

		h1{
			font-weight: $med;
			font-size: 55px;
			color: #FFFFFF;
			letter-spacing: 0;
			line-height: 68px;
			text-shadow: 3px 3px 0 rgba(0,0,0,0.07);
			position: relative;
			z-index: 2;
			margin-top: 10px;
			margin-bottom: 10px;
		}
		p{
			font-size: 18px;
			position: relative;
			z-index: 2;
			color: #fff;
		}

	}

	&__sponsored{
		padding-top: 100px;
		padding-bottom: 100px;
		background: $lightgray;

	}

	&__inner{
		padding-top: 100px;
	}

	.location-item{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-bottom: 100px;

		&__sponsored{
			margin-bottom: 0px;
			
			.left{
				position: relative;

				.sponsored{
					background-color: $primary;
					color: #fff;
					padding: 5px 10px;
					font-size: 14px;
					font-weight: $med;
					display: inline-block;
					text-transform: uprpercase;
					box-shadow: 0 8px 10px 0 rgba(0,0,0,0.19);
					position: absolute;
					top: -5px;
					left: -5px;
					z-index: 10;
				}
			}
		}

		.left{
			width: 45%;
			position: relative;

			.company-logo{
				background: #FFFFFF;
				box-shadow: 0 9px 12px 0 rgba(0,0,0,0.20);
				height: 70px;
				width: 70px;
				padding: 3px;
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 50%;
				position: absolute;
				right: -35px;
				top: 35px;
				z-index: 10;
				overflow: hidden;

				img{
					width: 100%;
				}
			}

			.slider{
				width: 100%;

				.slide{
					width: 100%;
					position: relative;

					img{
						max-width: 100%;
						width: 100%;
						height: auto;
					}

					.play-button{
						padding: 0;
						background-color: transparent;
						border: 0px;
						position: absolute;
						left: 50%;
						top: 50%;
						transform: translate(-50%, -50%);
						cursor: pointer;

						&:focus{
							outline: 0;
						}
					}
				}

				.slick-dots{
					list-style-type: none;
					padding: 0;
					text-align: center;
					margin-top: 20px;

					li{
						display: inline-block;
						margin-right: 10px;


						button{
							padding: 0px;
							background-color: transparent;
							border: 0px;
							width: 10px;
							height: 10px;
							text-indent: -9999px;
							background-color: $lightpurple;
							border-radius: 50px;
							cursor: pointer;

							&:focus{
								outline: 0;
							}
						}

						&.slick-active{
							button{
								height: 12px;
								width: 12px;
								background-color: $primary;
							}
						}
					}
				}

			}

			@media(max-width: 991px){
				width: 90%;
				margin-bottom: 50px;
			}
		}

		.right{
			width: 48%;
			position: relative;

			@media(max-width: 991px){
				width: 100%;
			}

			&:before{
				content: attr(data-number);
				position: absolute;
				left: 0;
				top: 0;
				font-weight: $bold;
				font-size: 136px;
				color: rgba(72,72,72,0.12);
				letter-spacing: 0;
				line-height: 65px;
				z-index: -1;
			}

			.top-pick{
				background-color: $primary;
				color: #fff;
				padding: 5px 10px;
				font-size: 14px;
				font-weight: $med;
				display: inline-block;
				text-transform: uppercase;
			}

			h2{
				font-weight: $reg;
				font-size: 36px;
				color: $black;
				line-height: 65px;
			}

			.monthly-price{
				font-weight: $bold;
				font-size: 19px;
				color: $primary;
				line-height: 16px;
				display: inline-block;
				padding-right: 10px;
				margin-bottom: 0px;

				span{
					font-size: 13px;
				}
			}

			.address{
				color: $gray;
				font-size: 13px;
				font-weight: $reg;
				margin-top: 30px;
				margin-bottom: 30px;

				a{
					color: $gray;
					transition: all 0.2s ease-in-out;
					margin-left: 10px;

					&:hover{
						color: $primary;
						text-decoration: none;
					}
				}
			}

			.reviews{
				margin-bottom: 30px;
				display: inline-block;
				padding-right: 20px;


				img{
					margin-right: 20px;
					display: inline-block;
				}

				p{
					color: $gray;
					font-size: 13px;
					font-weight: $reg;	
					margin-bottom: 0px;
					display: inline-block;

					@media(max-width: 600px){
						margin-top: 10px;
					}
				}
			}

			.information{
				color: $gray;
				font-size: 16px;
				margin-bottom: 30px;
			}

			.small-monthly-price{
				font-weight: $med;
				color: $black;
				margin-bottom: 30px;
				font-size: 16px;
				display: inline-block;
				padding-right: 10px;
			}

			.special-offer{
				background: rgba(247,0,121,0.10);
				border-radius: 3px;
				color: $primary;
				font-size: 14px;
				padding: 15px;
				font-weight: $med;

				a{
					border-bottom: 1px solid $primary;
					padding-bottom: 3px;
					transition: all 0.2s ease-in-out;
					color: $primary;

					&:hover{
						text-decoration: none;
						padding-bottom: 5px;
					}
				}

				i{
					margin-right: 10px;
				}
			}

			.links{
				list-style-type: none;
				padding: 0;
				display: flex;
				flex-wrap: wrap;
				margin-top: 30px;

				li{
					width: 33%;

					@media(max-width: 550px){
						
						&:nth-of-type(2){
							text-align: center;
							width: 46%;
						}

						&:nth-of-type(3){
							text-align: right;
							width: 20%;
						}
					}

					a{
						font-weight: $med;
						font-size: 18px;
						color: $primary;
						line-height: 32px;
						transition: all 0.2s ease-in-out;
						text-transform: uppercase;
						border-bottom: 0px solid transparent;
						padding-bottom: 3px;

						&:hover{
							border-bottom: 2px solid $primary;
							text-decoration: none;
						}
					}
				}
			}

		}
	}

}