.standard{
	padding-top: 60px;
	padding-bottom: 60px;

	&__inner{
	
		width: 70%;
		margin: 0 auto;

		h1{
			font-weight: $med;
			font-size: 45px;
			color: $primary;
			letter-spacing: 0;
			line-height: 68px;
			text-shadow: 3px 3px 0 rgba(0,0,0,0.07);
			margin-bottom: 30px;
		}

		p{
			font-weight: $reg;
			font-size: 17px;
			color: $gray;
			letter-spacing: 0;
			line-height: 31px;
		}

	}

}