html, body{
	font-family: 'Roboto', sans-serif;
}

.tooltip{
	.arrow{	
		&:before{
			border-right-color: $primary;
		}
	}

	.tooltip-inner{
		background-color: $primary!important;
		text-align: left;
		padding: 10px;
		box-shadow: 2px 3px 7px 0 rgba(0,0,0,0.26);
		border-radius: 2px 2px 2px 2px 0 0 0;
	}	
}
