/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

// Colours

$primary:		#F70079;
$gray: 			#8B8D9C;
$black:		#4A4A4A;
$lightgray: 	#F1F1F1;
$lightpurple:  #EAEAF4;

// Font Weights

$light: 		300; 
$reg: 			400;
$med: 		500;
$bold: 		700;